.clear-button {
    height: 8rem;
    font-size: 3.2rem;
    font-weight: bold;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 0.8rem 0rem;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0.2rem solid white;
    cursor: pointer;
    border-radius: 1.6rem;
    user-select: none;
}

.clear-button:hover {
    background-color: #ebb000;
}
